.delivery{
   width: 260px;
   height: 230px;
 border-top-right-radius: 35%;
 background-color: brown;
 text-align: center;
 border-bottom-left-radius: 35%;
margin-top: 150px;
margin-left: 590px;
}
.delivery i{
    margin-top: 40px;
    color: white;
}
.freepress h2{
    padding-left: 560px;
font-size: 40px;
    
}

.lorem p{
    padding-left: 480px;
    width: 550px;
    text-align: center;
    color: black;
    font-size: 25px;

}